/* Simple normalize */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Simple normalize */

/* Variables */

:root {
  --bright-red: hsl(12, 88%, 59%);
  --bright-red-hover: hsl(12, 88%, 59%, 70%);
  --bright-red-soft: hsl(12, 88%, 59%, 10%);
  --dark-blue: hsl(228, 39%, 23%);
  --dark-grayish-blue: hsl(227, 12%, 61%);
  --dark-grayish-soft: hsl(227, 12%, 61%, 10%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
}

/* Variables */

/* General styles */

body {
  font-size: 16px;
  font-family: "Be Vietnam", sans-serif;
  background-image: url(../assets/images/bg-tablet-pattern.svg),
    url(../assets/images/bg-tablet-pattern.svg);
  background-size: auto 375px, 500px auto;
  background-position-x: 14rem, 4rem;
  background-position-y: 31rem, -7rem;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: var(--very-light-gray);
}

h1,
h2,
h3 {
  color: var(--dark-blue);
}

p {
  color: var(--dark-grayish-blue);
}

.button {
  background-color: var(--bright-red);
  padding: 0.7rem 1.5rem;
  font-size: 0.7rem;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 14px 24px -12px var(--bright-red);
}

.button:hover {
  background-color: var(--bright-red-hover);
}

/* General styles */

/* App */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
header {
  position: sticky;
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
}

.header__logo {
  padding-left: 1.5rem;
}

.header__hamburger {
  padding-right: 1.5rem;
}

.hide-on-mobile {
  display: none;
}
/* Header */

/* Nav */
.background-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2); /* Black w/ opacity */
}
.main-nav {
  background-color: #fff;
  border-radius: 0.3rem;
  width: 90%;
  position: absolute;
  z-index: 10;
  top: 6rem;
  left: 0;
  right: 0;
  margin: auto;
  /* TODO: Valor normal de display -> flex */
  display: none;
  justify-content: center;
}

.main-nav__list {
  list-style: none;
}

.main-nav__list:first-child {
  margin-top: 0.5rem;
}
.main-nav__list:last-child {
  margin-bottom: 0.5rem;
}

.main-nav__item {
  margin: 1.5rem;
  text-align: center;
  font-weight: 700;
}

.main-nav__link {
  color: var(--dark-blue);
}

.main-nav__link:hover {
  color: var(--dark-grayish-blue);
}

.header__hamburger img {
  cursor: pointer;
  position: relative;
  z-index: 5;
}

/* Nav */

/* Landing */

.landing {
  max-width: 1440px;
}

/* Hero */
.hero__image {
  width: 100%;
}

.hero__image img {
  width: 100%;
  float: right;
}

.hero__content {
  padding: 0 1.5rem;
  text-align: center;
}

.hero__content h1 {
  font-size: 2.2rem;
  margin-bottom: 0.4rem;
}

.hero__content p {
  margin-bottom: 1.5rem;
}

.hero__button {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}
/* Hero */

/* Showcase */
.showcase__title {
  padding: 0 1.8rem;
  text-align: center;
}

.showcase__title h2 {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}

.showcase__title p {
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

.showcase__content {
  padding-left: 1rem;
}

.showcase__list {
  list-style: none;
}

.showcase__item {
  margin-bottom: 3rem;
}

.showcase__item-tittle {
  margin-bottom: 0.5rem;
  padding-left: 5rem;
  background-color: var(--bright-red-soft);
  border-radius: 20px 0 0 20px;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.showcase__item-tittle h3 {
  font-size: 1rem;
  font-weight: 700;
  position: relative;
}

.showcase__item-tittle span {
  background-color: var(--bright-red);
  color: var(--very-light-gray);
  width: 4rem;
  height: 2.5rem;
  border-radius: 20px;
  text-align: center;
  padding-top: 0.4rem;
  position: absolute;
  top: -7px;
  left: -5rem;
}

.showcase__content {
  font-size: 0.9rem;
}
/* Showcase */

/* Testimonials */
.testimonials {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials__tittle {
  font-size: 1.9rem;
  margin-bottom: 4rem;
}

.testimonials__slider {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.testimonial__item {
  background-color: var(--dark-grayish-soft);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 270px;
  padding-top: 1rem;
}

.testimonial__image {
  width: 4.5rem;
  margin-bottom: 1.5rem;
}

.testimonial__name {
  margin-bottom: 1.5rem;
}

.testimonial__opinion {
  font-size: 0.9rem;
  text-align: center;
  margin: 0 0.5rem;
}

.testimonials a {
  margin-bottom: 2.5rem;
}
/* Testimonials */

/* Footer */
.footer {
  width: 100%;
}

/* Footer Top*/
.footer__top {
  background-color: var(--bright-red);
  height: 20rem;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__top-tittle {
  color: var(--very-light-gray);
  font-size: 2.5rem;
  text-align: center;
  line-height: 3.5rem;
  margin-bottom: 1rem;
}

.footer__button {
  background-color: var(--very-light-gray);
  color: var(--bright-red);
}

.footer__button:hover {
  background-color: var(--very-light-gray);
  color: var(--bright-red-hover);
}
/* Footer top */

/* Footer bottom */
.footer__bottom {
  background-color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__logo {
  order: 4;
  margin-bottom: 3rem;
}

.footer__social-media {
  order: 3;
  display: flex;
  margin-bottom: 3rem;
}

.footer__social-media a {
  margin: 0 1rem;
}

.footer__social-media a img {
  width: 2rem;
  display: block;
}

.footer__social-media a img path {
  fill: var(--bright-red);
}

.footer__links {
  order: 2;
  display: flex;
  margin-bottom: 2rem;
}

.footer__links ul {
  list-style: none;
  font-size: 0.9rem;
}

.footer__links ul li {
  margin-bottom: 1rem;
}

.footer__links ul li a {
  color: var(--very-pale-red);
}

.footer__links ul li a:hover {
  color: var(--bright-red);
}

.footer__links-1 {
  margin-left: -1rem;
}

.footer__links-2 {
  margin-left: 6rem;
}

.footer__form {
  order: 1;
  margin: 2.5rem 1rem;
}

.footer__form input {
  padding: 0.8rem 3rem 0.8rem 1.5rem;
  border: none;
  border-radius: 20px;
  margin-right: 0.2rem;
  color: var(--very-dark-blue);
}

.footer__form input:focus-visible {
  outline: 0;
}

.footer__form button {
  padding: 0.8rem 1.7rem;
  border: none;
  border-radius: 20px;
  background-color: var(--bright-red);
  color: var(--very-light-gray);
  cursor: pointer;
}

.footer__form button:hover {
  background-color: var(--bright-red-hover);
}

.footer__error {
  color: IndianRed;
  font-size: 0.8rem;
  margin-left: 1.5rem;
}

.footer__copy {
  order: 5;
  color: var(--dark-grayish-blue);
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

/* Footer Bottom*/

/* Footer */

/* Desktop view */

@media screen and (min-width: 960px) {
  body {
    background-size: auto 500px, 700px auto;
    background-position-x: 25rem, 5rem;
    background-position-y: 45rem, -10rem;
  }
  /* Header desktop */

  header {
    justify-content: space-evenly;
  }

  .header__logo {
    margin-left: 4rem;
    padding-left: 0;
  }

  .header__button {
    margin-right: 4rem;
  }

  .header__hamburger {
    display: none;
  }

  .hide-on-mobile {
    display: block;
  }

  .main-nav {
    display: flex;
    width: 50%;
    background-color: inherit;
    position: static;
    border: 0;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__list:first-child {
    margin-top: 0;
  }
  .main-nav__list:last-child {
    margin-bottom: 0;
  }

  .main-nav__item {
    margin: 0.5rem;
    text-align: left;
  }

  /* Header desktop */

  /* Hero desktop */

  .hero {
    display: flex;
  }

  .hero__image {
    width: 50%;
    order: 2;
  }

  .hero__image img {
    width: 80%;
  }

  .hero__content {
    order: 1;
    width: 50%;
    padding: 0;
    text-align: left;
  }

  .hero__content h1 {
    width: 80%;
    font-size: 3rem;
    line-height: 4rem;
    margin-top: 2rem;
    margin-left: 3.5rem;
    margin-bottom: 1rem;
  }

  .hero__content p {
    margin-left: 3.5rem;
    margin-bottom: 1rem;
    width: 70%;
  }

  .hero__button {
    order: 3;
    display: block;
    margin-bottom: 0;
    margin-left: 3.5rem;
  }

  /* Hero desktop */

  /* Showcase desktop */
  .showcase {
    display: flex;
    padding-top: 2rem;
    margin-bottom: 3rem;
  }

  .showcase__title {
    padding: 0;
    text-align: left;
    padding-left: 3rem;
    width: 50%;
  }

  .showcase__title h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    width: 80%;
  }

  .showcase__title p {
    margin-bottom: 0;
    font-size: 1rem;
    width: 60%;
  }

  .showcase__content {
    padding-left: 0;
    padding-right: 5rem;
    width: 50%;
  }

  .showcase__item-content {
    padding-left: 5rem;
  }
  /* Showcase desktop */

  /* Footer top desktop */

  .footer__top {
    height: 15rem;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer__top-tittle {
    text-align: left;
    line-height: 3rem;
    margin-bottom: 0;
    width: 45%;
  }

  /* Footer top desktop */

  /* Footer Bottom desktop*/

  .footer__bottom {
    background-color: var(--very-dark-blue);
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "logo links from"
      "social-media links copy";
    justify-items: center;
    align-items: center;
    padding: 3rem;
  }

  .footer__logo {
    order: 1;
    margin: 0;
    grid-area: logo;
    justify-self: end;
  }

  .footer__social-media {
    order: 4;
    display: flex;
    margin: 0;
    grid-area: social-media;
    justify-self: end;
  }

  .footer__social-media a {
    margin: 0 0.5rem;
  }

  .footer__social-media a img {
    width: 1.5rem;
    display: block;
  }

  .footer__links {
    order: 2;
    display: flex;
    justify-content: space-around;
    margin: 0;
    grid-area: links;
    width: 100%;
  }

  .footer__links-1 {
    margin-left: 0;
  }

  .footer__links-2 {
    margin-left: 0;
  }
  .footer__form {
    order: 3;
    margin: 0;
    grid-area: from;
    justify-self: end;
  }

  .footer__form button {
    margin-top: 0.5rem;
  }

  .footer__copy {
    order: 5;
    margin: 0;
    grid-area: copy;
    justify-self: end;
  }
  /* Footer Bottom desktop*/
}
